# History files
*.Rhistory
.Rapp.history

# Session Data files
.RDataTmp
.RData

# User-specific files
.Ruserdata

# Output graphs
.jpg

# Raw external data
data/*.csv
*.xlsx
*.xls

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/


# R Environment Variables
.Renviron

# RStudio Connect folder
rsconnect/
.DS_Store
inst/doc
